*{
    font-family: Poppins,sans-serif;
}

.clock{
    margin-top: 10vh;
    background-color: pink;
    width: calc(--size/2);
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    padding:10vh 10vw;
    border-radius: 5px;
    text-align: center;
}

.flex{
    display: flex;
    padding: 10px 10px;
}

.clock_box{
    font-size: xx-large;
    color: aqua;
    padding: calc(10%) 0;
    text-align: center;
    width: calc(45%);
    height: calc(450%);
    background-color:black;
    margin: 5px 6px;
    border-radius: 5px;
}

.start_timer{
    margin-top: 2vh;
    border-radius: 5px;
    padding: 10px 35px;
    background:teal;
    border: transparent;
    z-index: 0;
}

.add_drop{
    margin: 1rem auto;
    border-radius: 5px;
    background-color: crimson;
    width:calc(--size/2);
    height: max-content;
    text-align: center;
}
#item , .date{
    border-radius: 5px ;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 10px;
    width: calc(--size/5);
    line-height: 30px;
    flex-wrap: wrap;
    text-align: center;
}
#addexp{
    border-radius: 3px;
    height: max-content;
    width: 155px;
    margin: 1rem;
}
.aft{
    border: 5px solid green;
}

.block{
    visibility: hidden;
    padding-bottom: 2rem;
}
#info{
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(255, 124, 42);
    border-radius: 5px;
    width: calc(--size/2);
    height: max-content;
    justify-content:space-around;
    padding: 1rem 1rem;
    align-items: center;
    margin-top: 1rem;
}

.image{ 
    background-color: rgb(111, 172, 109);
    border-radius: calc(50%);
    padding: 3vh 3vw;
    margin-left: -8%;
    height: auto;
}

.image img{
    border-radius: calc(50%);
    width: 80px;
}

.person_info{
    margin-left:-8%;
}
.person_name{
    line-height:50px;
    font-size: xx-large;
    font-weight: bolder;
}
.person_email{
    font-weight: bold;
}
#del_button{
    height: 7vh;
    width: 17vw;
    margin-right: -8%;
    border-radius: 2px;
    border: transparent;
    background: transparent;
    text-decoration: none;
}

#del_button img{
    height: 45px;
}

.del_effect{
    transform: rotateX(180deg);
    transition: .6s;
}

.justify{
    flex-wrap: wrap;
}

.expenditure{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.add_exp{
    background-color:rgb(150, 195, 18);
    justify-content: space-around;
    border-radius: 5px;
    padding: 1rem 1rem;    
    flex-wrap: wrap;
}

.sub_exp{
    margin-top: 0.6rem;
    width: 50vw;
    padding: .2rem 2rem;
    border-radius: 3px;
    border: 3px solid rgb(255, 0, 9);
}

.add_exp input{
    margin: 1vh 1vw;
    border-radius: 5px;
    width:50vw;
}

.graph{
    border-radius: 5px;
    padding: 1rem auto;
    margin-top: 1rem;
    background-color: rgba(225, 0, 0, 0.818);
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y:hidden ;
}

.bars{
    justify-content:flex-end;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    border-radius: 5px;
    height: 50vh;
    width: 125px;
    background-color: black;
    margin: 1rem 1rem;
    width: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-bottom: 1rem;
}

#changing_bars{
    border-radius: 1px;
    margin: 0 auto;
    height: 35vh;
    width: 5px;
    transition: 1s ease-in;
    background-color: rgb(222, 46, 107);
}

.expcards{
    justify-content: space-around;
    background-color: black;
    margin: 1rem auto;
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    border-radius: 5px;
}

.card{
    color:white;
    margin: 1rem 1rem;
    background-color: rgb(36, 177, 151);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    height: 25vh;
    width: 25vh;
}